*{padding: 0;
margin: 0;}
body{   

    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color:white;
}
.navbar{
    transition: 10s;
      background-color:black;
    color:white;
    display: flex;
    justify-content:space-between ;
    height: 80;
   }
ul{
    padding-left: 10;
    display: flex;
    align-items: center;
}
li{
    padding-left: 70;
    list-style: none;
    font-size: large;
     line-height: 1;
 
}
audio{
    background-color: #333;
    border-radius: 90px;
}
li:hover{
     color:#333 ;
}
.logo{
    line-height: 1;
 text-shadow:4px 3px rgb(235, 217, 217);
    color: rgb(244, 248, 250);
    padding-right: 30;
    font-size: 42;
    margin-top: 16;
    
    font-family: cursive;
}
.show,.hide{
    display:none;
}
#chk{
    visibility: hidden;


}


.hero{
    transition: 10s;
    margin: 0;
    align-items: center;
    height: 90vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image:url(n.jpg);
}
.contact{    transition: 20s;

    color: white;
    position: absolute;
 width: 100%;
 margin-top: 100;
   font-size:40;
  text-align: center;
  letter-spacing: .4;

  text-shadow:3px 3px red;


 }
.cc{
    font-size: x-large;
    border-radius: 25px;
    padding: 15 0;
    width: 200;
    color:white;
    background-color:#666362;
 box-shadow:5px 7px rgb(8, 1, 1), 2px 3px red inset;
border:2px solid #009688;
   opacity: 60%;
 }
 
 button:hover span
 {
     width: 100%;
 }
button:hover{
    border: none;
}

.num1{
     margin-top: 29;
    background-color: white;
    display: flex;
    justify-content:flex-start;
    align-items:center;
  
 
 color: rgb(153, 26, 26);
 background-color:rgba(239, 239, 240, 0.938) ;
 border-radius:30px;
 
  box-shadow: 10px 30px 20px rgb(58, 51, 51);
}
.title{
    padding-right:10;
    margin-top: 0;
    font-size: xx-large;
    color: tomato;
}
 

h4{
    padding-right: 30;
 }
 img{
  }
.we{

    background-image:linear-gradient(rgba(5, 5, 5, 0.75),rgba(0,0,0,0.75)), url(we.jpg);
color: white;
 align-items: center;
 background-size: cover;
       background-repeat: no-repeat;
       background-position:left ;
       height: 60%;
       margin-top: 12;
}
.we1{
      color:rgb(202, 126, 126);
      font-size: xx-large;
      padding-right: 38;
   }
  .we2{
      margin-top: 30;
      padding-right: 38;
  }





  .footer {
     left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
}











  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
      margin-top: 12;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
  }
   






  
@media screen and (max-width:1010px){
    .num1{
        flex-direction: column;
    }
    .hide,.show{
        display: block;
    }
    .show{
     margin-top: 25;
        font-size: x-large;
    }
 
    
    .menu{
z-index: 2;
        position: fixed;
        right: -100%;
        width: 100%;
        transition: 2.3s;
        background-color: #666;
    flex-direction: column;
    height: 100vh;
    top: 0;
    padding: 80 0;
    line-height: normal;
}

    li{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        display: block;
        padding: 20;
        letter-spacing: 3;
    }
    .hide{
        position: absolute;
        top40;
    right: 40;    }
    #chk:checked ~ .menu{
right: 0;
    }
}